.container {
    padding: 0.5em;
}
.container.list {
    width: 100%;
}
.container.grid {
    width: 50%;
}

.video {
    display: flex;
    flex-direction: row;
    border: 1px grey solid;
    transition: transform 250ms ease-in;
    cursor: pointer;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.video:hover {
    transform: scale(1.05);
}

.thumbnail {
    width: 40%;
    height: 100%;
}

.content {
    margin-left: 1.5em;
}

.title {
    font-size: 1em;
}

.channelTitle {
    font-size: 0.8em;
}
